* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.cabecalho {
    background-color: #0099dd;
    display: flex;
    align-items: center;
    height: 90px;
    font-size: 40px;
    border-bottom: #ff8500 5px solid;
}

.logo img{
    width: 140px;
}

.cadastrar {
    display: flex;
    align-items: center;
    margin-left: 20%;

}

.cadastrar p {
    margin-left: 20px;
    color: #ffffff;
}

.form {
    background-color: #00a2ff; 
    max-width: 80%; 
    margin: 40px auto; 
    padding: 20px;
    border-radius: 15px; 
    text-align: left;
    border: #ffa500 5px solid;
    font-size: 25px;

}

.form input,.form select {

    padding: 10px; 
    border-radius: 10px; 
    border: none;
    color:#053852;
    font-weight: bold;

}

.form label{
    margin-bottom: 2px;
    color: #ffffff;
}


.line {
    display:flex;
    gap: 10%;
}

#completo {
    max-width: 100%;
    margin-top:15px;

}

#curto{
    width: 100%;
}
span{
    display: grid;
    margin-top: 30px;
}



button {
    position: relative;
    left: 34%;
    width: 30%;
    padding: 15px;
    background-color: #ffa500; 
    color: white;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

button:hover {
    background-color: #ff8500;
}